In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


import warnings
warnings.filterwarnings("ignore")

In [64]:
train=pd.read_csv('train_file.csv')

In [65]:
train.head()

,ID,UsageClass,CheckoutType,CheckoutYear,CheckoutMonth,Checkouts,Title,Creator,Subjects,Publisher,PublicationYear,MaterialType
0,1,Physical,Horizon,2005,4,1,Tidal wave,NaN,"Tsunamis, Tsunamis Juvenile literature",NaN,NaN,BOOK
1,2,Physical,Horizon,2005,4,1,London holiday / Richard Peck.,"Peck, Richard, 1934-",NaN,"Viking,",1998.,BOOK
2,3,Physical,Horizon,2005,4,3,Cinco de Mayo : celebrating Hispanic pride / C...,"Gnojewski, Carol",Cinco de Mayo Mexican holiday History Juvenile...,"Enslow Publishers,",c2002.,BOOK
3,4,Physical,Horizon,2005,4,1,Annapolis,NaN,"War stories, Historical fiction, Domestic fict...",NaN,NaN,BOOK
4,5,Physical,Horizon,2005,4,1,As a man thinketh,NaN,Thought and thinking,NaN,NaN,BOOK

In [66]:
test=pd.read_csv('test_file.csv')

test1=test.copy()

In [67]:
train['CheckoutMonth'].unique()

array([4], dtype=int64)

In [68]:
print(train.shape)
print(test.shape)

(31653, 12)
(21102, 11)

In [69]:
print(train.columns)
print(test.columns)

Index(['ID', 'UsageClass', 'CheckoutType', 'CheckoutYear', 'CheckoutMonth',
       'Checkouts', 'Title', 'Creator', 'Subjects', 'Publisher',
       'PublicationYear', 'MaterialType'],
      dtype='object')
Index(['ID', 'UsageClass', 'CheckoutType', 'CheckoutYear', 'CheckoutMonth',
       'Checkouts', 'Title', 'Creator', 'Subjects', 'Publisher',
       'PublicationYear'],
      dtype='object')

In [70]:
train.drop(['ID','PublicationYear','Publisher','CheckoutYear','Title','Creator','Subjects'],axis=1,inplace=True)

In [71]:
test.drop(['ID','PublicationYear','Publisher','CheckoutYear','Title','Creator','Subjects'],axis=1,inplace=True)

In [72]:
print(train.columns)
print(test.columns)

Index(['UsageClass', 'CheckoutType', 'CheckoutMonth', 'Checkouts',
       'MaterialType'],
      dtype='object')
Index(['UsageClass', 'CheckoutType', 'CheckoutMonth', 'Checkouts'], dtype='object')

In [73]:
train.isna().sum()
test.isna().sum()

UsageClass       0
CheckoutType     0
CheckoutMonth    0
Checkouts        0
dtype: int64

In [74]:
train.shape

(31653, 5)

In [75]:
train.head()

  UsageClass CheckoutType  CheckoutMonth  Checkouts MaterialType
0   Physical      Horizon              4          1         BOOK
1   Physical      Horizon              4          1         BOOK
2   Physical      Horizon              4          3         BOOK
3   Physical      Horizon              4          1         BOOK
4   Physical      Horizon              4          1         BOOK

In [76]:
test.shape

(21102, 4)

In [77]:
test.head()

  UsageClass CheckoutType  CheckoutMonth  Checkouts
0   Physical      Horizon              4          1
1   Physical      Horizon              4          2
2   Physical      Horizon              4          2
3   Physical      Horizon              4          2
4   Physical      Horizon              4          2

In [84]:
X = train.drop('MaterialType',axis=1)
y=train['MaterialType']
y

0             BOOK
1             BOOK
2             BOOK
3             BOOK
4             BOOK
           ...
31648         BOOK
31649    VIDEOCASS
31650    VIDEODISC
31651         BOOK
31652        MIXED
Name: MaterialType, Length: 31653, dtype: object

In [85]:
x = pd.get_dummies(X)
#y=pd.get_dummies(y)
test = pd.get_dummies(test)

In [86]:
x.head()

   CheckoutMonth  Checkouts  UsageClass_Physical  CheckoutType_Horizon
0              4          1                    1                     1
1              4          1                    1                     1
2              4          3                    1                     1
3              4          1                    1                     1
4              4          1                    1                     1

In [87]:
y.head()

0    BOOK
1    BOOK
2    BOOK
3    BOOK
4    BOOK
Name: MaterialType, dtype: object

In [88]:
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings("ignore")
log = LogisticRegression(multi_class='multinomial')
log.fit(x,y)

LogisticRegression(multi_class='multinomial')

In [89]:
test_pred = log.predict(test)

In [90]:
len(test_pred)

21102

In [93]:
submission = pd.DataFrame({
        "ID": test1["ID"],
        "Material_Type": test_pred
    })

In [94]:
submission.to_csv('./submission.csv', index=False)

In [95]:
submission['Material_Type'].value_counts()

BOOK         20831
VIDEODISC      271
Name: Material_Type, dtype: int64

In [96]:
submission = pd.read_csv('submission.csv')
submission.head()

      ID Material_Type
0  31654          BOOK
1  31655          BOOK
2  31656          BOOK
3  31657          BOOK
4  31658          BOOK